@model MyMVCLatest.Models.Employee
<h1>test</h1>  

@{
    <table>
    <tr>
    
    <td>
    @Html.LabelFor(m=>m.employeeid)
    </td>
    <td>@Html.TextAreaFor(m=>m.employeeid)</td>
    </tr>
    
    </table>
    
    }