@{
    ViewBag.Title = "Picture Production Company > Careers";
    ViewBag.BodyClassName = "cookies";
}

<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
   
<script type="text/javascript">

    function blocking(nr)
    // for displaying or hiding parts of the page
    {
        displayNew = (document.getElementById(nr).style.display == 'none') ? 'block' : 'none';
        document.getElementById(nr).style.display = displayNew;
    }

	</script>

<!-- initially hide the contents of job positions -->
<body onload="blocking('position1');  blocking('position3');blocking('position4');blocking('position5');">


    <div id="content">
     
		<div id="content-primary">
			<h2 style="font-size: 2.90em; color:#00adef; margin:-50px 0 30px 0;">Careers</h2>
        </div>
           
    
     <div style="background-color:#000; margin:-40px 0 40px 0; ">
            <div id="careers_account">
                
                <h2>UK OFFICE</h2>

   <h3 style="margin-bottom:10px;">Business Development Manager</h3>
	<a href="#" onclick="blocking('position1'); return false;">See More...</a>
	<br>
	<br><br>
	<div id="position1">
    <b>REPORTING TO: </b><br><br>
	Head of Brands & Production
    <br><br>
        <b>ROLE OVERVIEW:</b>
        <br><br>
        The Business Development Manager role sits within the Brands & Production team, who specialise in creating A/V content for TVCs, Sponsorship idents, Cinema spots and Digital content.
<br><br>
Reporting to the Head of Brands & Production, the successful candidate will help implement the department’s growth strategy by delivering sales and achieving set targets.
<br><br>
The role is primarily focused on generating and developing new accounts, developing compelling business reasons for client investment and expanding our relationship with our existing client base.
<br><br>
The role requires an awareness of industry developments to enhance our creative offering and make sure that we constantly offer our clients best in class.
        <br><br>
	<b>MAIN DUTIES</b>
    <br><br>
        <ul>
            <li>•	Day-to-day responsibilities will include working collaboratively with various creative departments within the business to create new business opportunities and maximise the agency’s resources to win new clients.</li>
            <li>•	The candidate will be responsible for researching sales leads, making initial contact, handling pitches, and converting to achieve set revenue targets.</li>
            <li>•	Liaising with Production and Creative teams to manage all creative responses & tenders. Negotiating with clients to develop long term opportunities and build partnerships.</li>
            <li>•	Developing and maintaining relationships with Broadcasters, Media, Creative, and PR Agencies as well as direct with Clients.</li>
            <li>•	Present a knowledgeable and credible face of the agency to external audiences, deliver face-to-face presentations of the agency’s services to new clients. Work with Head of Brands and the Creative Director on pitch material.</li>
            <li>•	Facilitate the accurate forecasting of new business on a monthly and quarterly basis, alongside the Head of Brands & Production.</li>
        </ul>
         <br>
        <b>PERSON REQUIREMENTS/SKILLS & KNOWLEDGE</b>
    <br><br>
        <ul>
            <li>•	At least 2 to 3 years’ experience within a Sales/New Business Development role within a Broadcaster or Production Agency within the UK.</li>
            <li>•	A good level of experience in A/V advertising and production as well as a wealth of contacts at Broadcasters, Media, Gaming, PR and Creative Agencies and Clients Direct.</li>
            <li>•	Commercially driven and able to demonstrate proven ability to create, plan, articulate and sell comprehensive multi-platform media strategies.</li>
            <li>•	An understanding of Clearcast and Ofcom to ensure that all work produced adheres to regulations and is cleared for broadcast.</li>
            <li>•	A highly capable commercial negotiator with proven ability to close complex deals with long sales cycles.</li>
            <li>•	Ability to be a ‘self-starter’ – to use own initiative and be capable of working independently.</li>
            <li>•	A positive attitude to dealing with people of all levels of seniority within the business.</li>
            <li>•	Capable of hands-on problem-solving, working closely with peers to generate effective ideas and solutions to challenging client problems.</li>
            <li>•	An ability to lead diverse pitch teams and manage internal resources to create compelling business reasons why clients should choose PPC.</li>
            <li>•	A positive, determined and well-structured approach to researching, analysing and prioritising new business opportunities.</li>
            <li>•	Ability to cope with competing demands and to prioritise tasks and pay close attention to detail.</li>
            <li>•	Excellent organisational communication and time management skills.</li>
        </ul>
         <br>
        <br />
        To apply for this role, please send your CV and cover letter to <a href="mailto:recruitment@theppc.com">recruitment@theppc.com</a>
	<br><br><br>
        </div>
		
		 <!--<h3 style="margin-bottom:10px;">IT Support/Post Production Engineer</h3>
	<a href="#" onclick="blocking('position2'); return false;">See More...</a>
<br><br>
	<div id="position2">
    	<br>        
	<b>ROLE OVERVIEW:</b>
        <br><br>
        Picture Production Company is looking to appoint an IT Support Engineer, with experience in working in a Post Production environment. The successful candidate must have at least 3 years experience of administering IT systems <strong>within a Broadcast or Post-Production Environment, preferably with a good knowledge of Video and Film Standards, Codecs and 
production techniques.</strong> They should also be pro-active, enthusiastic and work-well under pressure, either solely or as part of a team.
		<br><br>
		This role will support and report to the Technical Manager. This will normally be an Office Hours position but some flexibility and occasional weekend work may be required.
        <br><br>
	<b>ESSENTIAL SKILLS</b>
    <br><br>
        <ul>
            <li>•	Practical Experience of Windows Server and Active Directory Administration, including DNS, File and Print Sharing, including support and administration of large scale RAID arrays. MCSE qualification would be extremely advantageous.</li>
            <li>•	Excellent IP Networking Skills, including VLAN’s, ACL’s and preferably Cisco Switch programming experience.</li>
            <li>•	Experience of managing a Company-wide back-up routine, as well as administering CCTV, Security and Phone Systems – experience of Symantec Backup Exec, would be advantageous.</li>
            <li>•	The expertise to prepare, deploy, troubleshoot and provide 1st Windows and Apple Hardware and Software solutions – including, but not limited to Windows, Mac OSX and MS Office/Office 365</li>
        </ul>
         <br>
        <b>PREFERABLE SKILLS</b>
    <br><br>
        <ul>
            <li>•	Good solid understanding of Film and Video Standards and Codecs</li>
            <li>•	Experience in support of Final Cut Pro, Avid Media Composer, Pro-Tools and Adobe Edit and Graphics Workstations.</li>
            <li>•	Apple OSX Server, Open Directory and Linux Administration</li>
            <li>•	Experience of Stornext Filesystems and Avid Unity.</li>
            <li>•	Knowledge of transcoding technologies (Telestream Vantage, Sorenson Squeeze)</li>
            <li>•	Aspera Faspex, Point-to-Point and Aspera Sync experience</li>
            <li>•	Practical knowledge of Media Asset Management systems and workflows.</li>
            <li>•	Working understanding of web-hosting and cloud-based server management.</li>
        </ul>
        <br />
        To apply for this role, please send your CV and cover letter to <a href="mailto:recruitment@theppc.com">recruitment@theppc.com</a>
	<br><br><br>
        </div>
	<br>-->
	<h3 style="margin-bottom:10px;">CREATIVE TRAILER EDITOR</h3>
	<a href="#" onclick="blocking('position3'); return false;">See More...</a>
	<br><br><br>
	<div id="position3">
    <b>REPORTING TO:</b>
        <br><br>
        CREATIVE DIRECTOR  / HEAD OF EDITING
    <br><br>
        <b>ROLE OVERVIEW:</b>
        <br><br>
            As part of a talented and close knit editing team, the successful candidate will take a lead role in creating exciting, cut through marketing materials for a broad range of titles across our wide client portfolio. 
            <br><br>
            Challenges range from creating TV spots and Trailers through to 3 minute promos and featurettes. You must be able interpret detailed briefs, but also able to confidently generate original ideas and concepts.
        <br><br>
	<b>MAIN RESPONSIBILITIES</b>
    <br><br>
        <ul>
            <li>•	Creative editing of TV Spots, Trailers, Promos and featurettes to an industry high level.</li>
            <li>•	Receiving and interpreting client and agency briefs</li>
            <li>•	Liaising with the Creative Director, Head of Editing, Account Manager and Graphics team throughout the process to ensure clear communication and that the brief is being met to the highest quality.</li>
            <li>•	Representing the agency and its services to key contacts, building on the established network the agency has cultivated.</li>
            <li>•	Overseeing the quality and progress of audio and video finishing</li>
        </ul>
         <br>
         <br>
        <b>SKILLS & EXPERIENCE</b>
    <br><br>
        <ul>
            <li>•	A passion for film is totally essential.</li>
            <li>•	Highly motivated and organised individual who is willing to go above and beyond the call of duty for our clients</li>
            <li>•	An exciting portfolio of work that includes film trailers, TV spots and promos</li>
            <li>•	An experienced FCP or Avid operator who can work creatively, take direction, and is equipped for the challenge of working with major Hollywood studios.</li>
            <li>•	An experienced editor who can work on their own initiative – but is happy to be a team player. </li>
            <li>•	Clear and concise communication skills.</li>
            <li>•	An eye for detail and excellence.</li>
            <li>•	Good knowledge of working with various frame rates and codecs.</li>
            <li>•	Own teeth.</li>
        </ul>
        <br />
        <br />
        
         <b>HOW TO APPLY</b>
    <br><br>
        Please respond with CV, Showreel and covering note about why we should choose you to <a href="mailto:recruitment@theppc.com">recruitment@theppc.com</a>
	<br><br>
    </div>
        <!-- copywriter-->

        <h3 style="margin-bottom:10px;">COPYWRITER</h3>
	<a href="#" onclick="blocking('position4'); return false;">See More...</a>
	<br><br><br>
	<div id="position4">
    <b>REPORTING TO:</b>
        <br><br>
        CREATIVE DIRECTOR  / HEAD OF EDITING
    <br><br>
        <b>ROLE OVERVIEW:</b>
        <br><br>
            Working within a team of two across all our Film and Brand clients generating imaginative copy for a variety of projects. 
            
        <br><br>
	<b>MAIN RESPONSIBILITIES</b>
    <br><br>
        <ul>
            <li>•	Brainstorming visual and copy ideas with other members of the agency teams, writing and presenting options to clients.</li>
            <li>•	Collaborating with Account Management, Editing teams to deliver solutions from concept through to implementation in a way that motivates consumers/clients to fall in love with a brand, product or idea.</li>
            <li>•	Working across numerous projects as the "go to" copywriter on Brands.</li>
            <li>•	Involvement in the entire process from generating scripts, slogans and words to ideas presented to clients to the actual execution of these ideas in the form of adverts.</li>
            <li>•	Crafting on-brand copy for a wide range of B2B brands.</li>
        </ul>
         <br>
         <br>
         </div>
         <!-- job 5-->
          <h3 style="margin-bottom:10px;">ACCOUNT MANAGER</h3>
	<a href="#" onclick="blocking('position5'); return false;">See More...</a>
	<br><br><br>
	<div id="position5">
    <br>
        <b>ROLE OVERVIEW:</b>
        <p>
            
            Do you have a passion for film?  Are you a highly motivated and organised individual who is willing to go above and beyond the call of duty for our clients? Have you got a working experience of producing audio visual marketing materials? Are you an experienced Account Handler who can work strategically with clients, able to present and willing to promote new ideas and opportunities?
            
        </p>
        <p>
        
        If the answer to all the above is yes, we have an exciting opportunity to join our team.
        </p>
        <p>
        The successful candidate will be part of a lively account management team, taking on a portfolio of client relationships and managing all aspects of their marketing requirements. As client liaison you will be expected to represent the agency and its services to key contacts and build on the established network the agency has cultivated. 
        </p>
    <p>
    Our people are the heart of our business, and we share a commitment to innovation, customer focus, integrity and market-leading excellence. PPC is at the forefront of technological innovation, with a long term strategy to produce world-class content executed across multiple platforms for domestic and International territories. </p>
    <p>Please apply in writing attaching your CV and a letter explaining why we should consider you for interview, to 
    <a href="mailto:susan.kennedy@theppc.com">susan.kennedy@theppc.com</a></p>
    <br />
	<b>MAIN RESPONSIBILITIES</b>
    <br><br>
        <ul>
            <li>•	Account manage all aspects of client relationships.</li>
            <li>•	Liaise with the marketing personnel at their UK or International offices and territory offices on a daily bases to service all necessary requirements.</li>
            <li>•	Produce status reports.</li>
            <li>•	Trailer reversioning: Liaising with territories and head office to receive translations. Management of gfx, translations, post production of 35mm,DCP and HD facilities for foreign language versions.</li>
            <li>•	TV spot reversioning: Liaising with territories and head office to manage translations gfx, audio, subtitles and post production of HD masters.</li>
            <li>•	Radio spot creative production from brief to finishing.</li>
            <li>•	Showreel production from brief to finishing: Liaising with territories and head office to manage gfx, montages, subtitles, post production of DCPs or HD masters.</li>
            <li>•	Sizzle reels from brief to finishing.</li>
            <li>•	Trailer versioning QC.</li>
            <li>•	Working internally with gfx, Audio, editors, online and post production supervisors to manage all aspects of the job.</li>
            <li>•	Working with suppliers to produce and QC audio mixes, 35mm and DCPs.</li>
            <li>•	Book and directing VO sessions.</li>
            <li>•	Managing budgets on Filemaker.</li>
            <li>•	Asset management.</li>
            <li>•	Helping with new business ideas and proposals.</li>
            
        </ul>
         <br>
         <br>
         <b>SKILLS AND EXPERIENCE</b>

         <ul>
            <li>•	At least 3 years' experience of working within an account handling role within a Film/TV company, 
in-house or agency side.</li>
            <li>•	Working knowledge of the Post Production process.</li>
            <li>•	Highly organised with excellent attention to detail.</li>
            <li>•	Flexible in approach to working life and have plenty of initiative.</li>
            <li>•	You will have the ability to communicate with both internal and external contacts at all levels in assertive yet calm and polite manner.</li>
            <li>•	Excellent English, verbal and written communication skills.</li>
        </ul>
            <!------------------->
         <b>HOW TO APPLY</b>
    <br><br>
        To apply for this role, please send your CV and cover letter to <a href="mailto:recruitment@theppc.com">recruitment@theppc.com</a>
	<br><br><br>
        </div>




    <h2>LA OFFICE</h2>

   

               

      </div>
         </div>
  </div>

    </body>